@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,700');

body {
  background: #1C1C1C;
  color: #c4c4c4;
  font-family: 'Libre Franklin', sans-serif;
}

p {
  margin: 0px;
}

.container {
  max-width: 400px;
  margin: 10vh auto;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid #c4c4c4;
}

/*=====================================================*/
/* APP TITLE STYLES */
/*=====================================================*/

#app-title {
  text-align: center;
}

/*=====================================================*/
/* INPUT STYLES */
/*=====================================================*/

.input-section {
  margin: 0px 0px 10px 0px;
}

.num-input {
  width: 25%;
}

/*=====================================================*/
/* RESET BUTTON STYLING */
/*=====================================================*/

/*add stylying to center the reset button*/

/*=====================================================*/
/* MADE BY STYLING */
/*=====================================================*/

#made-by {
  text-align: center;
}

#made-by a {
  text-decoration: none;
  color: #c4c4c4;
}

#made-by a:hover {
  color: #00d8ff;
}