@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,700');

body {
  background: #1C1C1C;
  color: #c4c4c4;
  font-family: 'Libre Franklin', sans-serif;
}

.container {
  max-width: 500px;
  margin: 10vh auto;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid #c4c4c4;
}

/*=====================================================*/
/*APP TITLE STYLES*/
/*=====================================================*/

#app-title {
  text-align: center;
}

/*=====================================================*/
/*=====================================================*/


/*=====================================================*/
/* MADE BY STYLING */
/*=====================================================*/

#made-by {
  text-align: center;
}

#made-by a {
  text-decoration: none;
  color: #c4c4c4;
}

#made-by a:hover {
  color: #420420;
}